/*****************************
General
*****************************/
body {
    background-image: url(assets/dust_scratches.png);
}
h1 {
    font-family: 'Lalezar', 'Palatino';
}


/*****************************
Login and Registration
*****************************/
.defaultFormContent {
    margin-top: 15px;
    max-width: 400px;
}


/*****************************
Logged In Navbar
*****************************/
.navMargin {
    margin-bottom: 15px;
}


/*****************************
Twitter Display
*****************************/
.tweetView {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10%;
    width: 350px;
    word-wrap: break-word;
    padding: 5px;
    background-color: aliceblue;
}
.buttonPointer {
    cursor: pointer;
    display: inline-block;
}
.twitterUsername {
    font-size: 2rem;
}
.tweetBio {
    font-family: 'Questrial', sans-serif;
}
.displayPic {
    width: 100px;
    height: auto;
    border: 2px solid grey;
    margin-bottom: 15px;
}


/*****************************
Results
*****************************/
.guessHeading {
    font-size: 2em;
}
.guessText {
    font-size: 4em;
    font-family: monospace;
    margin-top: 3%;
}
.resultsVisuals {
	display: flex;
    justify-content: center;
}
#showVisData:hover {
    cursor: pointer;
}
#historyChart {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
}


/*****************************
History
*****************************/
.historyTable {
    margin: 0px auto;
}
.posHistoryGuess {
    color: green;
}
.negHistoryGuess {
    color: red;
}
.historyOutcomeEmoji {
    width: 30px;
}