/*****************************
General
*****************************/


/*****************************
Logged In Navbar
*****************************/



/*****************************
Twitter Display
*****************************/
.tweetView {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    width: 350px;
    word-wrap: break-word;
    padding: 5px;
}
.buttonPointer {
    cursor: pointer;
    display: inline-block;
}
.twitterUsername {
    font-size: 2rem;
}
.displayPic {
    width: 100px;
    height: auto;
    border: 2px solid grey;
    margin-bottom: 15px;
}


/*****************************
Registration
*****************************/
.formHolder {
    padding-left: 20%;
    padding-right: 20%;    
}


/*****************************
Results
*****************************/
.guessHeading {
    font-size: 2em;
}
.guessText {
    font-size: 3em;
    font-family: monospace;
    margin-top: 15px;
}
.resultsVisuals {
	display: flex;
    justify-content: center;
}
#showVisData {
    color: #0275d8;
    text-decoration: none;
}
#showVisData:hover {
    color: #015096;
    text-decoration: underline;
    cursor: pointer;
}


/*****************************
History
*****************************/
.historyTable {
    margin: 0px auto;
}
.posHistoryGuess {
    color: green;
}
.negHistoryGuess {
    color: red;
}