{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class="text-center">Guess History for {{ session['username'] }}</h1>

    <div class="container text-center">
        <div id="historyVisData">
            <p id="showHistoryChart" class="btn btn-primary">Generate History Chart</p>
        </div>
        
        <table class="table table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>Twitter User</th>
                    <th>Guess Made</th>
                    <th>Outcome</th>
                    <th>Date and Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td>{{ entry[1] }}</td>
                    {% if entry[2] == 'positive' %}
                        <td class="posHistoryGuess">Positive</td>
                    {% else %}
                        <td class="negHistoryGuess">Negative</td>
                    {% endif %}
                    {% if entry[3] == 'True' %}
                        <td><img src="../static/assets/thumbs_up_emoji.png" class="historyOutcomeEmoji"></td>
                    {% else %}
                        <td><img src="../static/assets/thumbs_down_emoji.png" class="historyOutcomeEmoji"></td>
                    {% endif %}
                    <td>{{ entry[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
