{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="text-center">Twitter Sentiment Guessing</h1>
    <br>
    <div class="text-center">
        <h2>Is this person mostly positive or mostly negative on Twitter?</h2>
        <div class="tweetView mx-auto">
            <p id="username" class="twitterUsername"><strong>{{ twitterUser['username'] }}</strong></p>
            <img src="{{ twitterUser['picture'] }}" class="displayPic">
            <p>{{ twitterUser['bio'] }}</p>
        </div>
        
        <div>
            <div class="buttonPointer"><a class="btn btn-success" id="positive" href="{{ url_for('positiveGuess')}}">Positive 😀</a></div>
            <div class="buttonPointer"><a class="btn btn-danger" id="negative" href="{{ url_for('negativeGuess')}}">Negative 😠</a></div>
        </div>
        
        <!-- TESTING -->
        <div>
            <p id="test"></p>
        </div>
    </div>
{% endblock %}