{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="text-center">Twitter Sentiment Guessing</h1>
    <br>
    <div class="text-center">
        <h2>Is this person mostly positive or mostly negative on Twitter?</h2>
        <div class="tweetView mx-auto">
            <p id="username"><strong>{{ twitterUser['username'] }}</strong></p>
            <img src="{{ twitterUser['picture'] }}" class="displayPic">
            <p>{{ twitterUser['bio'] }}</p>
        </div>
        
        <div>
            <button type="button" class="btn btn-success" id="positive">Positive 😀</button>
            <button type="button" class="btn btn-danger" id="negative">Negative 😠</button>
        </div>
        
        <!-- TESTING -->
        <div>
            <p id="test"></p>
        </div>
    </div>
{% endblock %}