<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lalezar|Questrial" rel="stylesheet">
        <title>Twitter Guess: {% block title %}{% endblock %}</title>
    </head>
    
    <body>
        <div class="content">
            <!-- Navbar displayed if user logged in -->
            {% if 'username' in session %}
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navMargin">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('index')}}">{{ session['username'] }}</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}">Play</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('history')}}">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('how')}}">How to Play</a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <a href="{{url_for('logout')}}"><p class="btn btn-outline-danger my-2 my-sm-0">Logout</p></a>
                    </div>
                </div>
            </nav>
            {% else %}
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navMargin">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('index')}}">Twitter Sentiment Guessing</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('how')}}">How to Play</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endif %}

            <!-- Mail block will be generated from templates -->
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
        
        <!-- Footer -->
        <div class="footer">
            <div class="footerContent text-center">
                <p>CS50 Final Project by <a href="https://joshamore.com" target="_blank">Josh Amore</a></p>
            </div>
        </div>
        
        <!-- Scripts -->
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>