{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1 class="text-center">Login</h1>
    
    <div class="formHolder">
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        
        <div class="text-center">
            <a href="{{ url_for('register') }}"><em>Create a new account?</em></a>
        </div>
    </div>
{% endblock %}
